{% extends 'base.html' %} {% load static %} {% block head %}
<script src="/static/lib/proj4.js"></script>
<script src="/static/lib/highmaps/highmaps.js"></script>
<script src="/static/lib/highmaps/highcharts-more.js"></script>
<script src="/static/lib/highmaps/modules/data.js"></script>
<script src="/static/lib/highmaps/modules/exporting.js"></script>
<script src="/static/lib/highmaps/modules/offline-exporting.js"></script>
<script src="/static/lib/highmaps/maps/co-all.js"></script>
<script src="/static/lib/highmaps/maps/world.js"></script>
{% endblock %} {% block content %}
<br />
<div class="container-fluid">
    <h1> Esto es el Reto Template </h1>

    <script type="text/javascript" src="/static/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/lib/moment.min.js"></script>
    <script type="text/javascript" src="/static/lib/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/lib/daterangepicker.css" />
    <script type="application/javascript">
    </script>
</div>
{% endblock %}